* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}