.top-navigation {
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    flex: 44.3%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Mortlock-logo {
    width: 100%;
    max-width: 360px;
    max-height: 75px;
    padding-right: 25px;
}

.header-info {
    flex: 55.7%;
    padding-left: 20px;
    background-color: #892323;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-info::before {
    background: #892323 none repeat scroll 0 0;
    content: "";
    height: 145px;
    position: absolute;
    left: -25px;
    transform: skew(-13.5deg);
    width: 50px;
    z-index: -1;
}

.header-info-email-logo {
    height: 28px;
}

.header-info-schedule-logo {
    height: 32px;
    width: 32px;
}

.header-info-telephone-logo,
.header-info-email-logo,
.header-info-schedule-logo {
    padding-right: 5px;
}

.header-info-telephone {
    margin-right: auto;
}

.header-info-email,
.header-info-schedule {
    margin-left: auto;
    margin-right: auto;
}

.header-info-telephone,
.header-info-email,
.header-info-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
}

.header-info-telephone-link,
.header-info-email-link,
.header-info-schedule-link {
    font-weight: 300;
    text-decoration: none;
}

.header-info-telephone-link:hover,
.header-info-email-link:hover,
.header-info-schedule-link:hover {
    opacity: 70%;
}

.header-info-socials-facebook {
    margin-left: auto;
}

.header-info-socials-facebook,
.header-info-socials-linkedin,
.header-info-socials-twitter {
    padding-right: 20px;
}

.bottom-navigation {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -25px;
}

.header-navigation-transparent {
    background-color: transparent;
    flex: 30%;
}

.header-navigation-links {
    background-color: black;
    flex: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.header-navigation-links::before {
    background: black none repeat scroll 0 0;
    content: "";
    height: 50px;
    position: absolute;
    left: -15px;
    transform: skew(-30deg);
    width: 50px;
    z-index: -2;
}

.header-navigation-links-text {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    border-top-style: solid;
    border-color: transparent;
    padding-top: 3px;
}

.header-navigation-links-text:hover,
.header-navigation-links-text-active:hover {
    border-color: white;
}

.header-navigation-links-arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: none;
}

.header-navigation-links-arrow-container {
    display: none;
}

.header-navigation-links-arrow-active {
    background-color: black;
    flex: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.header-navigation-links-text-active {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    border-top-style: solid;
    border-color: transparent;
    padding-top: 3px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {

    .header-navigation-links-text {
        display: none;
    }

    .header-navigation-links-arrow {
        display: inline-block;
    }

    .header-navigation-links-arrow-container {
        width: 80px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 700px) {

    .top-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-info {
        max-height: 50px;
    }
    
    .header-info::before, 
    .header-navigation-transparent,
    .header-navigation-links::before {
        display: none;
    }

    .Mortlock-logo {
        padding: 10px;
    }

    .header-info-telephone-text,
    .header-info-email-text {
        margin-left: 5px;
    }

    .bottom-navigation {
        margin: 0px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1400px) {

    .header-info-telephone-text,
    .header-info-email-text {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    
    .header-info {
        justify-content: space-evenly;
        padding: 0;
    }

    .header-info-telephone,
    .header-info-email,
    .header-info-schedule,
    .header-info-socials-facebook,
    .header-info-socials-linkedin,
    .header-info-socials-twitter {
        margin: 0;
        padding: 0;
    }

    .header-info-telephone-logo,
    .header-info-email-logo,
    .header-info-schedule-logo {
        padding: 0;
    }

    .header-info-schedule-text {
        display: none;
    }
}