.homepage-image-container{
    position: relative;
    text-align: center;
    z-index: -3;
    margin-bottom: -30px;
}

.homepage-image {
    margin-top: -25px;
    width: 100%;
    max-height: 868px;
    object-fit: cover;
    object-position: 0px -30px;
    overflow: hidden;
    display: block;
}

.homepage-image-text {
    position: absolute;
    width: 100%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: max(24px, 3.2vw);
    font-weight: 700;
    padding-bottom: 10px;
}

.homepage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 370px;
}

.homepage-grid-motto {
    position: relative;
    text-align: center;
}

.homepage-grid-motto-image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.homepage-grid-motto-image-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2.1
}

.homepage-grid-about {
    background-color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 70px;
    padding-right: 70px;
}

.homepage-grid-about-title {
    width: 100%;
    padding-bottom: 20px;
}

.homepage-grid-about-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.8;
}

.our-services {
    background-color: #202020;
}

.our-services-title{
    height: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.our-services-subsections-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

.our-services-subsections-grid-advice,
.our-services-subsections-grid-litigation,
.our-services-subsections-grid-courts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services-subsections-grid-advice-title,
.our-services-subsections-grid-litigation-title,
.our-services-subsections-grid-courts-title {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.our-services-subsections-grid-advice-text,
.our-services-subsections-grid-litigation-text,
.our-services-subsections-grid-courts-text {
    padding-left: 40px;
    padding-right: 10px;
    max-width: 330px;
}

@media only screen and (max-width: 500px) {

    .homepage-grid-about {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 700px) {

    .homepage-image {
        height: 400px;
        object-position: center center;
    }
}

@media only screen and (max-width: 1250px) {

    .homepage-grid {
        grid-template-columns: 1fr;
    }

    .our-services-subsections-grid {
        grid-template-columns: 1fr;
    }

    .our-services-subsections-grid-advice,
    .our-services-subsections-grid-litigation,
    .our-services-subsections-grid-courts {
        padding-top: 20px;
    }
}